
    {#
    Single flash message template.

    parameters:
        - type: Message type according to Bootstrap alert types,
        - message: Message content,
#}
{# Bootstrap alert, see http://getbootstrap.com/components/#alerts #}
<div class="alert alert-{{ type }}" role="alert">
    {{ message }}
</div>